#nozzles {
    text-align: center;
    border : 1px solid black;
    padding : 0.5em 0.5em 0.5em 0.5em;
    margin : 0.5em 0.5em 0.5em 0.5em;
}
body {
    text-align: center;
}
button, select, option {
    font-size: 18px;
}
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 2px solid black;
    font-family: 'Chelsea Market', sans-serif;
    text-align: center;
    padding: 1em;
    font-size: 48px;
}